.outsidebox{
    display: inline-block;
    box-sizing: border-box;
    display: flexbox;
    background-color: #3EB489;
    width: 50%;
    height: 100%;
    padding-bottom: 15px;
}
.contentbox{
    display: inline-block;
    box-sizing: border-box;
    display: flexbox;
    width: 97%;
    height: 795%;
    box-sizing: border-box;
    background-color: #ffffce;
    padding-bottom: 15px;
}