@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root{
    background-color:  lightgray;
    ;
}

.welcomeField {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    border-color: #3e7643;
    background-color: #004e42;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3%;
}

.activeRequestField {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    width: 50%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3%;

    animation: blinker 1.25s linear infinite;
}

@keyframes blinker{
    50% {
        opacity: 0;
    }
}

.studentList {
    background-color: #fad763;
}

.studentListHeader {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
}

.studentName {
    font-size: 18px;
}

.scheduleSemester {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
}


.borderbox {
    width: 50%;
    padding: 10px 15px;
    margin: 8px 0;
    border-color: #3e7643;
    background-color: #fad763;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3%;
}

table, td, th{
    border: 1px solid;
    font-size: x-large;
}
table{
    width: 100%;
    
}
tr:nth-child(even){
    color:white;
    background-color: #a2a569;
}
tr:nth-child(odd){
    color: white;
    background-color: #c6893f;
}
th{
    background-color: #004e42;
}