:root{
    background-color: lightgray;
}
.icon{
    height: 30px;
    width: 30px;
}
.positionbox{
    position: static;
}
.courses {
    border: 1px solid black;
    position: relative;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
